/* https://www.w3schools.com/w3css/tryw3css_templates_social.htm */
:root {
  --color1: hsl(180, 80%, 75%);
  --color2: hsl(200, 80%, 75%);
  --color3: hsl(90, 80%, 85%);
  /* --color4: hsl(90, 50%, 90%); */
  --color4: hsl(200, 10%, 20%);
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Verdana", sans-serif;
}
/*!Replace inject style  */
#container {
  max-width: 1400px;
  margin-top: 80px;
}
#profile-avatar {
  height: 106px;
  width: 106px;
}
#article-1st {
  margin: 0 -16px;
}
/*!replace bg color  */
.ibm-bg-nav {
  background: var(--color2);
}
.ibm-nav {
  box-shadow: 5px 3px 10px 7px var(--color2);
}
.ibm-bg-logo {
  background: var(--color3);
}
.ibm-bg-logo:hover,
.ibm-hover-white:hover,
.ibm-dropdown:hover {
  background: var(--color1) !important;
}
.ibm-bgAndCol-body {
  color: var(--color4) !important;
  background: var(--color1) !important;
}
.ibm-white {
  color: var(--color4) !important;
  background-color: var(--color3) !important;
}

hr {
  border-top: 1px solid var(--color2) !important;
}
.ibm-theme,
.ibm-theme-footer {
  color: var(--color1) !important;
  background-color: var(--color4) !important;
  border-radius: 5px;
}
.ibm-theme-2 {
  color: var(--color4) !important;
  background-color: var(--color2) !important;
  border-radius: 5px;
}
.ibm-theme-3 {
  color: var(--color4) !important;
  background-color: var(--color1) !important;
  border-radius: 5px;
}
/*! Shadow card begin*/
.ibm-card {
  position: relative;
}
.ibm-card:before {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(20deg, var(--color4) 0%, var(--color1) 100%);
  transform: translate3d(10px, 10px, 0) scale(1);
  filter: blur(20px);
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: inherit;
}

/** Prevents issues */
.ibm-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
/*!shadow card end*/
button {
  border-radius: 3px;
  transition: transform 2s ease;
}
button:hover,
.ibm-theme:hover {
  transform: scale(1.1);
  background-color: var(--color1) !important;
  color: var(--color4) !important;
}

/*! footer*/
footer {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* footer p {
  display: contents;
  align-items: center;
} */
.ibm-footer-before {
  text-decoration: none;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  z-index: 2;
  display: block !important;
  font-size: 3rem;
  transform: translateY(-100px) rotateZ(-90deg);
  color: var(--color4);
  transition: color 2s ease, transform 2s ease;
  animation: beat 5s linear infinite;
}
.ibm-footer-before:hover {
  color: var(--color2);
  transform: translateY(-90px) rotateZ(-90deg) scale(2);
  cursor: pointer;
}
/*!Mes sources, Mes articles, Mes projets  */
.ibm-interest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  height: 180px;
}
.ibm-mp {
  border: 1px solid transparent;
  padding: 2px;
}
.ibm-mp:hover {
  border: 1px solid var(--color4);
  border-radius: 5px;
  background: var(--color1);
  text-decoration: none;
}
/*!Articles  */
.ibm-art-logo {
  width: 60px;
  height: 60px;
  transform: scale(3);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes beat {
  from {
    transform: translateY(-90px) rotateZ(-90deg) scale(1);
  }
  50% {
    transform: translateY(-90px) rotateZ(-90deg) scale(1.5);
  }
  to {
    transform: translateY(-90px) rotateZ(-90deg) scale(1);
  }
}
@media screen and (max-width: 600px) {
  .ibm-footer-before {
    right: 50px;
    display: block !important;
    transform: rotate(-90deg);
    color: var(--color3);
    animation: minBeat 5s linear infinite;
  }
  .ibm-footer-before:hover {
    color: var(--color2);
    cursor: pointer;
  }
  .ibm-theme-footer {
    display: flex;
    justify-content: flex-start;
  }
  .ibm-theme-footer p {
    width: 50%;
  }
}
@keyframes minBeat {
  from {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.5);
  }
  to {
    transform: rotate(-90deg) scale(1);
  }
}
